.my-1-div {
    margin: 10px;
}

.my-2-div {
    margin: 10px;
}

.my-3-div {
    margin: 10px;
}

.my-4-div {
    margin: 10px;
}

.my-5-div {
    margin: 10px;
}

.my-6-div {
    margin: 10px;
}

.my-7-div {
    margin: 10px;
}

.my-8-div {
    margin: 10px;
}

.my-9-div {
    margin: 10px;
}

.my-10-div {
    margin: 10px;
}

.my-11-div {
    margin: 10px;
}

.my-12-div {
    margin: 10px;
}

.my-13-div {
    margin: 10px;
}

.my-14-div {
    margin: 10px;
}